doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Travel Planner
    link(rel='stylesheet', href='/fontawesome/css/all.min.css')
    link(rel="stylesheet", href="/css/style.css")
    script.
      const GOOGLE_MAPS_KEY = '!{mapApiKey}';
    script(src="/js/main.js", defer)
  body
  .container
    block content

