.footer
  p
    i.fas.fa-plane-departure
    | © #{new Date().getFullYear()} Travel Planner by Genevieve. All rights reserved.
  .api-links
    a(href="https://developers.google.com/maps/documentation/places/web-service/overview") Google Place API
    a(href="https://www.tomorrow.io/") Tomorrow Weather API
