.header
  h2
    i.fas.fa-globe
    | Travel Planner
  .search-bar
    form(action='/' method='GET')
      input(type="text" name="location" placeholder="Search a destination")
      button(type="submit") Search
